/* @update: 2017-5-18 14:43:43 */
@charset "UTF-8";.bgs-sprite,.future-list .item-li .item-tag i,.future-list .item-order-wrap .order-wrap,.future-list .p-outer .p-bar-blue,.future-list .p-outer .p-bar-purple,.left-arrow,.left-arrow:hover,.new-list .item-li .item-tag i,.new-list .item-order-wrap .order-wrap,.new-list .p-outer .p-bar-blue,.new-list .p-outer .p-bar-purple,.right-arrow,.right-arrow:hover {
    background-image: url(../images/bgs-sce9f2d038c.png);
    background-repeat: no-repeat
}

.title {
    width: 1200px;
    height: 54px;
    margin-top: 70px;
    background: #fff;
    overflow: hidden
}

.title .t-pos {
    height: 24px
}

.title .t-pos i {
    display: block;
    width: 4px;
    height: 26px;
    background: #3ae0ab;
    float: left
}

.title .t-pos i.floor {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-family: Arial;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #3ae0ab;
    color: #3ae0ab;
    font-style: normal;
    font-size: 18px
}

.title .t-pos h2 {
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    float: left;
    margin-left: 14px;
    color: #323232;
    font-weight: 700
}

.title .t-hover {
    padding-right: 19px;
    background: url(i/hoverArrow.png) right 0 no-repeat
}

.title .t-hover:hover {
    background-position: right -24px
}

.title .t-hover:hover h2 {
    color: #3ae0ab
}

.title .jchange {
    float: right;
    color: #a5a5a5;
    cursor: pointer;
    width: 46px;
    height: 16px;
    background: url(i/change.png) 0 3px no-repeat;
    padding-left: 20px;
    margin-top: 4px
}

.future-list,.new-list {
     /* box-shadow: 0 0 50px rgba(216,216,216,.5); */
     overflow: hidden;
     position: relative;
}

.future-list .pos-ul,.new-list .pos-ul {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1224px
}

.future-list .item-li,.new-list .item-li {
    float: left;
    width: 280px;
    height: 390px;
    margin-right: 24px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 40px rgba(216,216,216,.5);
    position: relative
}

.future-list .item-li .item-a,.new-list .item-li .item-a {
    display: block;
    width: 280px;
    height: 220px;
    overflow: hidden;
    position: relative
}

.future-list .item-li .item-a .title-position,.new-list .item-li .item-a .title-position {
    position: absolute;
    top: 7px;
    left: -23px;
    width: 90px;
    height: 30px;
    z-index: 1;
    text-align: center;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.future-list .item-li .item-a .title-position .title-icon,.new-list .item-li .item-a .title-position .title-icon {
    width: 90px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#3ae0ab, endColorStr=#19dce4);
    background: -ms-linear-gradient(left,#3ae0ab,#19dce4);
    background: -moz-linear-gradient(left,#3ae0ab,#19dce4);
    background: -webkit-linear-gradient(left,#3ae0ab,#19dce4);
    background: -o-linear-gradient(left,#3ae0ab,#19dce4)
}

.future-list .item-li .item-a .title-position b,.new-list .item-li .item-a .title-position b {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Microsoft Yahei","微软雅黑"
}

.future-list .item-li .item-a .JDDZ-icon .title-icon,.new-list .item-li .item-a .JDDZ-icon .title-icon {
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#9a6221, endColorStr=#d3a261);
    background: -ms-linear-gradient(left,#9a6221,#d3a261);
    background: -moz-linear-gradient(left,#9a6221,#d3a261);
    background: -webkit-linear-gradient(left,#9a6221,#d3a261);
    background: -o-linear-gradient(left,#9a6221,#d3a261)
}

.future-list .item-li .item-a .active-title-area,.new-list .item-li .item-a .active-title-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px
}

.future-list .item-li .item-a .active-title-area:hover img,.new-list .item-li .item-a .active-title-area:hover img {
    transform: scale(1)
}

.future-list .item-li .item-a .active-title-area img,.new-list .item-li .item-a .active-title-area img {
    width: 60px;
    height: 60px
}

.future-list .item-li .item-img,.new-list .item-li .item-img {
    width: 280px;
    height: 220px;
    transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -webkit-transition: all .6s
}

.future-list .item-li .item-img:hover,.new-list .item-li .item-img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1)
}

.future-list .item-li .item-title,.new-list .item-li .item-title {
    font-size: 14px;
    font-weight: 700;
    color: #323232;
    margin: 18px 15px 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.future-list .item-li .item-title a,.future-list .item-li .item-title a:active,.future-list .item-li .item-title a:hover,.future-list .item-li .item-title a:link,.future-list .item-li .item-title a:visited,.new-list .item-li .item-title a,.new-list .item-li .item-title a:active,.new-list .item-li .item-title a:hover,.new-list .item-li .item-title a:link,.new-list .item-li .item-title a:visited {
    color: #323232
}

.future-list .item-li .item-detail,.new-list .item-li .item-detail {
    color: #7b8793;
    margin: 0 15px;
    height: 40px;
    line-height: 22px;
    overflow: hidden
}

.future-list .item-li .item-detail a,.future-list .item-li .item-detail a:active,.future-list .item-li .item-detail a:hover,.future-list .item-li .item-detail a:link,.future-list .item-li .item-detail a:visited,.new-list .item-li .item-detail a,.new-list .item-li .item-detail a:active,.new-list .item-li .item-detail a:hover,.new-list .item-li .item-detail a:link,.new-list .item-li .item-detail a:visited {
    color: #7b8793
}

.future-list .item-li .item-tag,.new-list .item-li .item-tag {
    display: block;
    width: 100px;
    height: 32px;
    background: #3ae0ab;
    color: #fff;
    line-height: 32px;
    position: absolute;
    left: 186px;
    top: 14px;
    text-align: center
}

.future-list .item-li .item-tag i,.new-list .item-li .item-tag i {
    position: absolute;
    top: 11px;
    right: 14px;
    display: block;
    width: 5px;
    height: 9px;
    background-position: 0 -1071px
}

.future-list .item-li .ewm-area .ewm-sj,.new-list .item-li .ewm-area .ewm-sj {
    vertical-align: middle;
    *vertical-align: auto;
    *zoom:1;*display: inline;
    margin-left: 10px;
    width: 14px;
    height: 12px;
    display: block;
    position: absolute;
    bottom: 212px;
    left: 122px;
    z-index: 2;
    background: url(i/down-sj01.png) center center no-repeat;
    transition: .2s ease all;
    opacity: 0;
    filter: opacity(0);
    visibility: hidden
}

.future-list .item-li .ewm-area .ewm-box,.new-list .item-li .ewm-area .ewm-box {
    transition: .2s ease all;
    margin-top: -3px;
    opacity: 0;
    filter: opacity(0);
    visibility: hidden;
    background-color: #fff;
    width: 120px;
    height: 125px;
    padding: 20px;
    position: absolute;
    top: 3px;
    left: 60px;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 6px 10px rgba(0,0,0,.16);
    z-index: 1
}

.future-list .item-li .ewm-area .ewm-box p,.new-list .item-li .ewm-area .ewm-box p {
    line-height: 18px;
    font-size: 12px;
    padding-top: 7px;
    *padding-top: 0;
    text-align: center;
    width: 112px;
    margin: 0 auto;
    color: #323232
}

.future-list .item-li .ewm-area .ewm-box img,.new-list .item-li .ewm-area .ewm-box img {
    width: 88px;
    display: block;
    margin: auto
}

.future-list .item-order-wrap,.new-list .item-order-wrap {
    height: 40px;
    position: absolute;
    left: 0;
    top: 180px;
    width: 280px;
    overflow: hidden;
    display: none
}

.future-list .item-order-wrap .order-wrap,.new-list .item-order-wrap .order-wrap {
    height: 40px;
    width: 280px;
    position: relative;
    margin-top: 40px;
    background-position: 0 -1080px
}

.future-list .item-order-wrap .order-wrap p,.new-list .item-order-wrap .order-wrap p {
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    text-align: center
}

.future-list .item-order-wrap .item-ipt,.new-list .item-order-wrap .item-ipt {
    width: 159px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    border-right: none;
    position: absolute;
    left: 10px;
    top: 5px;
    color: #5e5e5e;
    font-size: 14px;
    font-family: Arial
}

.future-list .item-order-wrap .item-btn,.new-list .item-order-wrap .item-btn {
    width: 80px;
    height: 30px;
    color: #fff;
    background: #ff6b6b;
    font-family: "Microsoft Yahei","微软雅黑";
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer
}

.future-list .item-order-wrap .item-btn:hover,.new-list .item-order-wrap .item-btn:hover {
    background: #ff5256
}

.future-list .order-tag-error,.future-list .order-tag-get,.future-list .order-tag-success,.new-list .order-tag-error,.new-list .order-tag-get,.new-list .order-tag-success {
    width: 158px;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    left: 10px;
    top: 215px;
    display: none
}

.future-list .order-tag-success,.new-list .order-tag-success {
    background: #effbe9;
    border: 1px solid #dcf2d0;
    color: #79bc56
}

.future-list .order-tag-get,.new-list .order-tag-get {
    background: #fff8e6;
    border: 1px solid #fbe8c4;
    color: #fdb75b
}

.future-list .order-tag-error,.new-list .order-tag-error {
    background: #ffe9e8;
    border: 1px solid #ffd7d4;
    color: #ea544a
}

.future-list .p-outer,.new-list .p-outer {
    
}

.future-list .p-outer .p-bar,.new-list .p-outer .p-bar {
    height: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #e6e6e6;
    overflow: hidden;
    margin-bottom: 5PX;
    width: 70%;
    float: left;
}

.future-list .p-outer .p-bar-blue,.new-list .p-outer .p-bar-blue {
    height:5px;
    background-position: 0 -1128px
}

.future-list .p-outer .p-bar-purple,.new-list .p-outer .p-bar-purple {
    height: 5px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    background-position: 0 -1144px;
}

.future-list .p-items,.new-list .p-items {
    
}

.future-list .p-title,.new-list .p-title {
    display: inline-block;
    float: left;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5
}

.future-list .line,.new-list .line {
    width: 1px;
    height: 12px;
    background: #e6e6e6;
    display: inline-block;
    float: right;
    margin-top: 2px
}

.future-list .p-extra,.future-list .p-target,.new-list .p-extra,.new-list .p-target {
    float: left;
    width: 125px
}

.future-list .p-extra .num,.future-list .p-target .num,.new-list .p-extra .num,.new-list .p-target .num {
    display: inline-block;
    float: left;
    color: #5e5e5e;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    margin-left: 6px
}

.future-list .p-target,.new-list .p-target {
    margin-right: 10px
}

.left-arrow {
    width: 30px;
    height: 70px;
    position: absolute;
    top: 240px;
    right: -60px;
    cursor: pointer;
    background-position: 0 -140px
}

.left-arrow:hover {
    background-position: 0 -210px
}

.right-arrow {
    width: 30px;
    height: 70px;
    position: absolute;
    top: 240px;
    left: -60px;
    cursor: pointer;
    background-position: 0 0
}

.right-arrow:hover {
    background-position: 0 -70px
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.2,1.2,1.2);
        transform: scale3d(1.2,1.2,1.2)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.2,1.2,1.2);
        transform: scale3d(1.2,1.2,1.2)
    }

    50% {
        opacity: 1
    }
}

.zoomIn {
    animation: zoomIn .5s linear 1 alternate;
    -moz-animation: zoomIn .5s linear 1 alternate;
    -webkit-animation: zoomIn .5s linear 1 alternate;
    -o-animation: zoomIn .5s linear 1 alternate
}

@-webkit-keyframes bounce {
    0%,100%,20%,53%,80% {
        -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    40%,43% {
        -webkit-transition-timing-function: cubic-bezier(.755,.05,.855,.06);
        transition-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-30px,0)
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(.755,.05,.855,.06);
        transition-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-15px,0);
        transform: translate3d(0,-15px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0)
    }
}

@keyframes bounce {
    0%,100%,20%,53%,80% {
        -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    40%,43% {
        -webkit-transition-timing-function: cubic-bezier(.755,.05,.855,.06);
        transition-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-30px,0)
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(.755,.05,.855,.06);
        transition-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-15px,0);
        transform: translate3d(0,-15px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0)
    }
}

.bounce {
    animation: bounce 2s linear 1 alternate;
    -moz-animation: bounce 2s linear 1 alternate;
    -webkit-animation: bounce 2s linear 1 alternate;
    -o-animation: bounce 2s linear 1 alternate
}
